.account-select {
  width: 835px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
}

.account-select h1 {
  height: 100px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 60px;
  line-height: 127px;
}

.account-select .login-button .link {
  width: 835px;
  height: 128px;
  border-radius: 15px;
  margin-top: 32px;

  display: flex;
  align-items: center;
  gap: 148px;
}

.naver-link .login-text {
  color: #ffffff;
}

.account-select .naver-login {
  background-color: #66bb4f;
}

.google-login p {
  color: #353535;
}

.account-select .google-login {
  background-color: #eaeaea;
}

.login-button .naver-logo {
  width: 65px;
  height: 64px;
  padding-left: 58px;
}

.login-button .google-logo {
  width: 55px;
  height: 56px;
  padding-left: 61px;
}

.login-button p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

.terms-text {
  margin-top: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-align: left;
}

.terms-text span {
  color: #a6d5d9;
}
