footer {
  padding-top: 40px;
  background-color: #ffffff;
}

.footer-logo {
  display: flex;
  align-items: center;
  padding-left: 162px;
}

.footer-logo-img {
  width: 99px;
  height: 111px;
}

.footer-logo .logo-text {
  color: #000000;
}

.footer-info {
  display: flex;
  align-items: flex-end;
  padding-left: 162px;
}

.footer-info .comapny-info {
  width: 835px;
  height: 116px;
}

.footer-info .comapny-info p {
  color: #000000;
  font-size: 18px;
}

.footer-info .team-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
