footer {
  padding-top: 40px;
  padding-left: 90px;
  padding-bottom: 32px;
  background-color: #ffffff;
}

.footer-logo .footer-link {
  width: 302px;
  display: flex;
  align-items: center;
  padding-left: 162px;
}

.footer-logo-img {
  width: 99px;
  height: 111px;
}

.footer-logo .logo-text {
  color: #000000;
}

.footer-info {
  display: flex;
  align-items: flex-end;
  padding-left: 162px;
}

.footer-info .comapny-info {
  width: 835px;
  height: 116px;
}

.footer-info .comapny-info p {
  color: #000000;
  margin-top: 8px;
  font-size: 18px;
}

.footer-info .team-name {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-size: 38px;
  line-height: 58px;
  color: #000000;
}
