.google-account {
  margin-top: 40px;
  position: absolute;
  left: 300px;
  z-index: 10;
  width: 840px;
  height: 413px;
  background-color: #1e1f20;
}
.google-account .login-container {
  width: 799px;
  height: 341px;
  margin: 16px 20px 0 20px;
  border-radius: 30px;
  color: #c4c7c5;
  background-color: #000000;
}

.google-header {
  display: flex;
  align-items: center;
  gap: 7px;
  border-bottom: 1px solid #a6a6a6;
}

.google-header .google-logo {
  width: 25px;
  height: 25px;
  padding-top: 6px;
  padding-left: 12px;
}

.google-header p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.account-selection-box {
  display: flex;
  justify-content: space-between;
}

.account-selection-left .logo-box-google {
  display: flex;
  align-items: center;
  color: #e3e3e3;
}

.account-selection-left .logo-box-google .logo {
  width: 40px;
  height: 45px;
}

.account-selection-left .logo-box-google p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
}

.account-selection-left .account-selection-title-google {
  color: #e3e3e3;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

.account-selection-right {
  padding-top: 41px;
  padding-right: 36px;
}

.account-selection-right .account {
  width: 368px;
  height: 38px;
  display: flex;
  align-items: center;
  margin-top: 4px;
  gap: 11px;
  border-bottom: 1px solid #a6a6a6;
}

.account-selection-right .account .profie-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.account-selection-right .another .google-gest-img {
  width: 32px;
  height: 32px;
}

.account-selection-right .terms-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;

  margin-top: 8px;
  color: #c4c7c5;
}

.service-links {
  display: flex;
  justify-content: space-between;
}

.service-links .policy-items {
  display: flex;
  gap: 23px;

  padding-top: 18px;
  padding-right: 48px;
}

.service-links .language-selector {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  padding-top: 20px;
  padding-left: 44px;
}
