header {
  width: 100%;
  height: 179px;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-container .logo-img {
  width: 117px;
  height: 144px;
}
