header {
  padding-top: 40px;
  width: 100%;
  height: 144px;
}

.header-logo .header-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #ffffff;
}

.logo-container .logo-img {
  width: 117px;
  height: 144px;
}
