header {
  padding-top: 40px;
  width: 100%;
  height: 144px;
}
.header-container {
  display: flex;
  justify-content: center;
}
.header-logo .header-link {
  width: 321px;
  display: flex;
  gap: 10px;
  color: #ffffff;
  align-items: center;
}

.header-container .logo-img {
  width: 117px;
  height: 144px;
}
