.main-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 90px;
}

.blue-bubble {
  position: absolute;
  z-index: 0;
  width: 856px;
  height: 804px;
  left: -357px;
  top: 226px;

  border-radius: 50%;
  background: #506ef0;
  opacity: 0.4;
  filter: blur(40px);
}

.pupple-bubble {
  position: absolute;
  z-index: 0;
  width: 802px;
  height: 765px;
  left: 1013px;
  top: 920px;

  border-radius: 50%;
  background: #a674fa;
  opacity: 0.4;
  filter: blur(40px);
}

.section {
  height: 732px;
}

.section h1 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 80px;
  line-height: 97px;

  text-shadow: 2px 2px 7px #185de8;
}

.section p {
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
}

.about-section .text-box {
  position: relative;
  z-index: 1;
  margin-top: 240px;
  margin-left: 160px;
}

.about-section h1 {
  height: 194px;
  text-align: left;
}

.about-section p {
  margin-top: 26px;
  height: 96px;
}

.hack-section {
  display: flex;
  gap: 12px;
}

.hack-section img {
  width: 610px;
  height: 547px;
  margin-left: 115px;
}

.hack-section .text-box {
  position: relative;
  z-index: 1;
  text-align: right;
  margin-top: 59px;
  margin-right: 160px;
}

.hack-section .text-box p {
  height: 96px;
  margin-top: 26px;
}

.feat-section h1 {
  padding-top: 40px;
  width: 932px;
  height: 194px;
  margin: 0 auto;
  text-align: center;
}

.feat-section .feat-box {
  width: 1074px;
  margin: 252px 183px 0 240px;
  display: flex;
  gap: 102px;
  justify-content: center;
}

.feat-item {
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
}

.feat-box p {
  font-family: "Inter";
  font-weight: 600;
  font-size: 64px;
  line-height: 85px;

  text-shadow: 2px 2px 7px #185de8;
}
