.naver-account {
  margin-top: 40px;
  position: absolute;
  left: 300px;
  z-index: 10;
  width: 840px;
  height: 413px;
  background-color: #191919;
}

.naver-account .login-container {
  width: 799px;
  height: 341px;
  margin: 16px 20px 0 20px;
  border-radius: 30px;
  color: #000000;
  background-color: #fafafa;
}

.naver-header {
  display: flex;
  align-items: center;
  gap: 7px;
  border-bottom: 1px solid #a6a6a6;
}

.naver-header .naver-logo {
  width: 37px;
  height: 38px;
  padding-top: 6px;
  padding-left: 12px;
}

.naver-header p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.account-selection-box {
  display: flex;
  justify-content: space-between;
}

.account-selection-left .logo-box-naver {
  display: flex;
  align-items: center;
}

.account-selection-left .logo-box-naver .logo {
  width: 40px;
  height: 45px;
}

.account-selection-left .logo-box-naver p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
}

.account-selection-left .account-selection-title-naver {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

.account-selection-right {
  padding-top: 41px;
  padding-right: 36px;
}

.account-selection-right .account {
  width: 368px;
  height: 38px;
  display: flex;
  align-items: center;
  margin-top: 4px;
  gap: 11px;
  border-bottom: 1px solid #a6a6a6;
}

.account-selection-right .account .profie-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.account-selection-right .another .naver-gest-img {
  width: 32px;
  height: 32px;
}

.naver-account .language-selector {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  margin-top: 20px;
  margin-left: 44px;
}
