.show-result-container {
  padding-top: 64px;
}

.show-result-header .show-result-header-text {
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
  font-size: 60px;
  line-height: 97px;

  text-shadow: 2px 2px 7px #185de8;
}

.show-result-summary-container {
  margin-top: 132px;
  display: flex;
  text-align: center;
  gap: 90px;
  justify-content: center;
}

.show-result-summary-container .show-result-summary {
  font-family: "Inter";
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.show-result-summary-container .show-result-summary .result-number {
  width: 126px;
  height: 126px;
  border: 4px solid #ffffff;
  border-radius: 50%;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

.show-result-summary-container .show-result-summary .result-name {
  display: inline-block;
  font-size: 50px;
}

.show-result-list-container {
  margin-top: 100px;
  padding-bottom: 160px;
  display: flex;
  justify-content: center;
}

.show-result-list-container .show-result-list {
  height: 680px;
}

.show-result-list-container .show-result-list a {
  color: #ffffff;
}

.show-result-list-container .show-result-list .list-toggle-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;
}
/* .show-result-list .list-toggle-box .toggle-shape {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 40px solid #f25c5c;
  background: none;
} */

.show-result-list .toggle-name {
  width: 632px;
  height: 79px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 60px;
  line-height: 73px;

  text-shadow: 2px 2px 7px #f84f52;
  border-bottom: 1px solid #ffffff;
}

.show-result-list-container .show-result-list .lists {
  padding-left: 130px;

  font-family: "Inter";
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.show-result-list-container .show-result-list .lists .list {
  margin-top: 16px;
}

.show-result-list-container .show-result-list .lists .list a:hover {
  color: #185de8;
  text-decoration: underline;
}

/* 초기 삼각형 - 오른쪽 방향 */
.toggle-shape {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 40px solid #f25c5c;
  transition: transform 0.3s ease;
}

/* 아래 방향 삼각형 */
.toggle-shape.down {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 40px solid #f25c5c;
  border-bottom: none;
}
