.site-list-header {
  margin-left: 160px;
}

.site-list-header .header-title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 80px;
  line-height: 97px;
  text-shadow: 2px 2px 7px #185de8;

  color: #ffffff;
}

.site-list-header .header-text {
  font-family: "Inter";
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;

  color: #c4c7c5;
}

.site-list-cards {
  margin-left: 160px;
}

.site-card {
  width: 1120px;
  height: 270px;
  margin-top: 47px;
  border-radius: 30px;
  background-color: #d9d9d9;
  display: flex;
  color: #000000;
}

.card-left .site-img {
  width: 165px;
  height: 165px;
  margin-top: 27px;
  margin-left: 75px;
  border-radius: 20px;
}

.card-left .site-name {
  font-family: "Inter";
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  padding-left: 64px;
  padding-bottom: 18px;
  text-align: center;
}

.card-right {
  width: 649px;
  height: 240px;
  padding-top: 12px;
  padding-left: 99px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

.box1 {
  width: 998px;
  height: 119px;
  margin-top: 18px;
  margin-left: 221px;
  background: #ababab;
  box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.box2 {
  width: 782px;
  height: 70px;
  margin-top: 18px;
  margin-left: 329px;
  background: #7e7e7e;
  box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.site-list-container .feat-box {
  margin-top: 165px;
  padding-bottom: 166px;
}
