.site-list-header {
  margin-left: 260px;
}

.site-list-header .header-title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 80px;
  line-height: 97px;
  text-shadow: 2px 2px 7px #185de8;

  color: #ffffff;
}

.site-list-header .header-text {
  font-family: "Inter";
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  padding-top: 15px;
  color: #c4c7c5;
}

.site-list-container .site-list-cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  overflow: hidden;
}

/* .site-list-cards {
  padding-top: 40px;
} */
.site-list-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* max-height: 90vh; */
  max-height: 800px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: relative;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: -180px;
}

.site-list-cards::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.virtual__scroll {
  padding: 120px 0;
}

.site-list-container .feat-box {
  margin-top: 100px;
  padding-bottom: 166px;
}
